@page "/ingresos"
@inject IRepository repository

<h3>Entrada</h3>


<GenericList MyList="Ingresos">
    
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Entrada</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ingreso in Ingresos!)
                {
                    <tr>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                        <td>
                            @ingreso.Id
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Ingreso>? Ingresos { get; set; }


    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Ingreso>>("/api/ingresos");
        Ingresos = responseHppt.Response!;
    }

}
